
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  background-color: rgb(21, 21, 21);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.middle-container {
  display: flex;
  justify-content: center;
  box-shadow: 
    0px 4px 6px rgba(194, 192, 192, 0.08),
    0px 10px 20px rgba(209, 214, 208, 0.12);
  width: 950px;
  padding: 20px;
  flex-wrap: wrap;
}

.middle-container ul {
  display: flex;
  flex-wrap: wrap;          
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
.card-container {
  flex: 1 1 200px;        
  max-width: 280px;
  transition: all 0.3s ease;
  perspective: 1000px;
}


.card-container img {
  width: 100%;              
  height: 100%;
  object-fit: cover;        
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card-container:hover {
  transform: scale(1.08) rotateY(10deg);
  box-shadow: 0 15px 40px rgba(52, 51, 50, 0.3);
  cursor: pointer;
}

.card-container:hover img {
  transform: scale(1.02);
}

.last-container {
  
  width: 1000px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: 16px;
  display: inline-block;
  box-shadow: 
    0px 4px 6px rgba(194, 192, 192, 0.08),
    0px 10px 20px rgba(209, 214, 208, 0.12);
}
h3{
  padding-left: 35px;
  padding-top: 10px;
}
@media (max-width: 1200px) {
  .middle-container {
    width: 70%;
  }

  .last-container {
    width: 90%;
  }
}
.msg
{
 margin-left: 60px;
 position: relative;
 top: 30px;
}
