li {
  list-style: none;
}

/* Movie card */
.card-container {
  border: 1px solid green;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(30, 30, 30);

  /* Smooth transition */
  transition: 
    transform 0.4s ease,
    width 0.4s ease,
    box-shadow 0.4s ease;
}

/* Movie title */
.card-container span {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Movie image */
.card-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
 
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
