
.list-symbol {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  padding-left: 13px;
  margin-top: 25px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.list-symbol > li {
  list-style: none;
}

.list-symbol > li > ol {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 7px;
  padding-left: 20px;;
  margin: 0;
}

.list-symbol > li > ol > li {
  list-style: none;

  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

}
#btn-cell{
      width: 130px;
  height: 110px;
  border-radius: 5px;
  border: none;
}
#btn-cell:hover{
    background-color: rgb(216, 219, 222);
    cursor: pointer;
    border-radius: 7px;
}
#symbol
{
    font-size: 50px;
    font-weight: bold;
}

.message-box
{
    height: 70px;
    width: 470px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    justify-content: center;
    align-content: center;
    position: relative;
    font-size: 18px;
    padding-left: 10px;
}  
.msg-btn{
    height: 35px;
    width: 100px;
    position: absolute;
    right: 25px;
    background-color: blue;
    font-size: 18px;
    color: white;
    border: 1px solid rgb(12, 11, 11);
    border-radius: 5px;

}
.msg-btn:hover
{
    cursor: pointer;
}